/*globle*/
:root{
    --div-background-color:rgba(255, 0, 0, 0.842);
    --text-color:rgba(0, 0, 0, 0.678);
    --div-padding:10px;
    --div-margin:10px;
 }
 body{
    background-color: var(--background-color, rgb(231, 199, 204));
 }
 .child{
    background-color: var(--div-background-color);
    color:var(--text-color:black;) ;

 }
 .one{
    --div-background-color:blue;
    --text-color:white;
 }
 .one-one{
    margin: var(--div-margin);
    padding: var(--div-padding);
 }
 .one-two{
    margin: var(--div-margin);
    padding: var(--div-padding);
 }